@font-face {
    font-family: cinzel;
    src: url(../fonts/cinzel_decorative/cinzeldecorative-regular.ttf);
}

@font-face {
    font-family: cinzel-black;
    src: url(../fonts/cinzel_decorative/cinzeldecorative-black.ttf);
}

@font-face {
    font-family: cinzel;
    src: url(../fonts/cinzel_decorative/cinzeldecorative-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: loveya;
    src: url(../fonts/love_ya_like_a_sister/loveyalikeasister.ttf);
}

@font-face {
    font-family: monoton;
    src: url(../fonts/monoton/monoton-regular.ttf);
}


@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-medium.ttf);
}

@font-face {
    font-family: raleway-light;
    src: url(../fonts/raleway/raleway-light.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-semibold.ttf);
    font-weight:bold;
}