@include keyframe(twirl){
    from {transform: rotate(0);}
    to {
        transform: rotate(360deg);
    }
}


@include keyframe(twirl-backwards){
    from {transform: rotate(0);}
    to {
        transform: rotate(-360deg);
    }
}

#welcome-container{
    @include animation(twirl, 0.5s, ease-out,1, paused, 0);
}


.rotate{
    @include animation(twirl, 0.5s, ease-out,1, running, 0);
}

.rotateB{
    @include animation(twirl-backwards, 0.5s, ease-out,1, running, 0);
  }

@include keyframe(starGlow){
    0% {
      box-shadow: 0 0 0px 0px #fff;
    }
    50% {
      box-shadow: 0 0 5px 0px #fff;
    }

    100%{
      box-shadow: 0 0 0px 0px #fff;
    }
}
