/*
Z-INDEXES
.menu-button: 1000
#menu : 100!important;
dots: 2;
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    // font-family: 'Vollkorn', serif;
    // font-family: 'IBM Plex Serif', serif;
    // font-family: 'Merriweather', serif;
    // font-family: 'Source Serif Pro', serif;
    font-family: 'raleway', cursive;
}

html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}

#main-page-container{
    background-color: $black;
    width:100%;
    height:100%;
    @extend %flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
}

#welcome-container{
    background: transparent;
    @extend %flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    height:200px;
    color:whitesmoke;
    text-transform: capitalize;

    p{
      font-size:1.2em;
      color:whitesmoke;
    }

    p#welcome{
      font-size: 2.8em;
      letter-spacing: 5px;
    }
}

#animated-button{
    width:70px;
    height:70px;
    border-radius: 100%;
    background-color: $black;
    box-shadow: 0 0 0px 1px white;
    border:0;
    letter-spacing: 1.5px;
    margin-top:20px;
    font-size:0.8em;
    letter-spacing: 3px;

    &:hover{
        cursor: pointer;
        background: black;
    }
}

#welcome, #animated-button{
    color:whitesmoke;
}

#animated-button:focus, #animated-button:active{
    outline:0;
}


/*THE MAIN BUTTONS*/
#menu-button-container{
    display:none;
    overflow: visible;
    position: absolute;
    z-index: 10000!important;
}

.menu-button{
    overflow: visible;
    width:0;
    height:0;
    border-radius: 100%;
    position: absolute;
    background: $black;
    color:white;
    display:block;
    letter-spacing: 2px;
    cursor: pointer;
    border:1px solid white;
    text-transform: capitalize;
    z-index: 1000!important;
}

.menu-button:focus, .menu-button:active{
    outline:0;
}

#menu{
    left:50%;
    top:50%;
    @include transform(translate(-50%,-50%));
    border:1px solid white;
    background-color: $black;
    box-shadow: none;
    z-index: 1000!important;
}

#menu:hover{
    background-color:black;
}

#education{
    left:50%;
    top:50%;
    @include transform(translate(-50%, -50%));

}

#hire-me{
    left:50%;
    top:50%;
    @include transform(translate(-50%, -50%));
}

#about-me{
    left:50%;
    top:50%;
    @include transform(translate(-50%, -50%));
}

#experience{
    left:50%;
    top:50%;
    @include transform(translate(-50%, -50%));
}

.dots{
    width:10px;
    height:10px;
    box-shadow: 0 0 30px 4px darkgray;
    border-radius: 100%;
    background-color: white;
    left:50%;
    top:50%;
    position: absolute;
    @include transform(translate(-50%, -50%));
    opacity: 0;
    z-index: 2;
}

.active{
    color:white;
}

.dim-page{
    width:100%;
    height:100%;
    background-color:inherit;
    opacity:0.8;
}


@media all and (max-width: 650px){
  #welcome-container{

    p{
      text-align: center;
      font-size: 1em!important;
    }

    #welcome{
      font-size: 1.8em!important;
    }

    #animated-button{
      width:60px;
      height:60px;
      font-size:0.6em;
    }
  }

  .dots{
    display:none;
  }

  .page{
    width: 100%;
    height:100%;
  }
}


@media all and (max-width: 300px){
  #welcome-container{

    p{
      text-align: center;
      font-size: 0.8em!important;
    }

    #welcome{
      font-size: 1.5em!important;
      text-align-last: center;
    }
  }

  .dots{
    display:none;
  }

  .page{
    width: 100%;
    height:100%;
  }
}
