.page{
    width: 80%;
    height:calc(100% - 40px);
    position: absolute;
    left:150%;
    top:20px;
    text-align: left;
    z-index: 1!important;
    h1{
      font-size:2.5em;
      text-align: left!important;
    }
}
