.page{
    width: 80%;
    height:90%;
    position: absolute;
    left:150%;
    top:20px;
    font-size:1.5em;
    text-align: left;
    margin-top:50px;
}

.page h1{
  text-align: left!important;
}

#hire-me-page{

}


#contact-info{

}

#me{

}

@media all and (max-width:400px){
  .page{
    width: 100%;
    height:90%;
    position: absolute;
    left:150%;
    top:20px;
    box-shadow: 0 0 1px 1px whitesmoke;
    }
}
