/* line 45, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/partials/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/partials/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@-webkit-keyframes twirl {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes twirl {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes twirl {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes twirl-backwards {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes twirl-backwards {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes twirl-backwards {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* line 16, ../sass/partials/_activeAnimations.scss */
#welcome-container {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: twirl;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: paused;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: twirl;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: paused;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: twirl;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: paused;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: twirl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-timing-function: ease-out;
}

/* line 21, ../sass/partials/_activeAnimations.scss */
.rotate {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: twirl;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: twirl;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: twirl;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: twirl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

/* line 25, ../sass/partials/_activeAnimations.scss */
.rotateB {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: twirl-backwards;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: twirl-backwards;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: twirl-backwards;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: twirl-backwards;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

@-webkit-keyframes starGlow-white {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  50% {
    box-shadow: 0 0 8px 0px white;
  }
  100% {
    box-shadow: 0 0 0px 0px white;
  }
}
@-moz-keyframes starGlow-white {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  50% {
    box-shadow: 0 0 8px 0px white;
  }
  100% {
    box-shadow: 0 0 0px 0px white;
  }
}
@keyframes starGlow-white {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  50% {
    box-shadow: 0 0 8px 0px white;
  }
  100% {
    box-shadow: 0 0 0px 0px white;
  }
}
@-webkit-keyframes starGlow-blue {
  0% {
    box-shadow: 0 0 0px 0px blue;
  }
  50% {
    box-shadow: 0 0 8px 0px blue;
  }
  100% {
    box-shadow: 0 0 0px 0px blue;
  }
}
@-moz-keyframes starGlow-blue {
  0% {
    box-shadow: 0 0 0px 0px blue;
  }
  50% {
    box-shadow: 0 0 8px 0px blue;
  }
  100% {
    box-shadow: 0 0 0px 0px blue;
  }
}
@keyframes starGlow-blue {
  0% {
    box-shadow: 0 0 0px 0px blue;
  }
  50% {
    box-shadow: 0 0 8px 0px blue;
  }
  100% {
    box-shadow: 0 0 0px 0px blue;
  }
}
/* line 1, ../sass/partials/_mixins.scss */
#main-page-container, #welcome-container, #about-me-page #about-me-page-container .about-header .button-holder, #about-me-page #about-me-page-container .about-body #about-section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*
Z-INDEXES
.menu-button: 1000
#menu : 100!important;
dots: 2;
*/
/* line 7, ../sass/partials/_index.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'raleway', cursive;
}

/* line 18, ../sass/partials/_index.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 24, ../sass/partials/_index.scss */
#main-page-container {
  background-color: #171613;
  width: 100%;
  height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 34, ../sass/partials/_index.scss */
#welcome-container {
  background: transparent;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 200px;
  color: whitesmoke;
  text-transform: capitalize;
  z-index: 100;
}
/* line 44, ../sass/partials/_index.scss */
#welcome-container p {
  font-size: 1.2em;
  color: whitesmoke;
}
/* line 49, ../sass/partials/_index.scss */
#welcome-container p#welcome {
  font-size: 2.8em;
  letter-spacing: 5px;
}

/* line 55, ../sass/partials/_index.scss */
#animated-button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #171613;
  box-shadow: 0 0 0px 1px white;
  border: 0;
  letter-spacing: 1.5px;
  margin-top: 20px;
  font-size: 0.8em;
  letter-spacing: 3px;
  z-index: 1000;
}
/* line 67, ../sass/partials/_index.scss */
#animated-button:hover {
  cursor: pointer;
  background: black;
}

/* line 73, ../sass/partials/_index.scss */
#welcome, #animated-button {
  color: whitesmoke;
}

/* line 77, ../sass/partials/_index.scss */
#animated-button:focus, #animated-button:active {
  outline: 0;
}

/*THE MAIN BUTTONS*/
/* line 83, ../sass/partials/_index.scss */
#menu-button-container {
  display: none;
  overflow: visible;
  position: absolute;
  z-index: 10000 !important;
}

/* line 90, ../sass/partials/_index.scss */
.menu-button {
  overflow: visible;
  width: 0;
  height: 0;
  border-radius: 100%;
  position: absolute;
  background: #171613;
  color: white;
  display: block;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid white;
  text-transform: capitalize;
  z-index: 1000 !important;
}

/* line 106, ../sass/partials/_index.scss */
.menu-button:focus, .menu-button:active {
  outline: 0;
}

/* line 110, ../sass/partials/_index.scss */
#menu {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid white;
  background-color: #171613;
  box-shadow: none;
  z-index: 1000 !important;
}

/* line 120, ../sass/partials/_index.scss */
#menu:hover {
  background-color: black;
}

/* line 124, ../sass/partials/_index.scss */
#education {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 131, ../sass/partials/_index.scss */
#hire-me {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 137, ../sass/partials/_index.scss */
#about-me {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 143, ../sass/partials/_index.scss */
#experience {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 149, ../sass/partials/_index.scss */
.dots {
  width: 10px;
  height: 10px;
  box-shadow: 0 0 30px 4px darkgray;
  border-radius: 100%;
  background-color: white;
  left: 50%;
  top: 50%;
  position: absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}

/* line 163, ../sass/partials/_index.scss */
.active {
  color: white;
}

/* line 167, ../sass/partials/_index.scss */
.dim-page {
  width: 100%;
  height: 100%;
  background-color: inherit;
  opacity: 0.8;
}

/* line 174, ../sass/partials/_index.scss */
.stars-white {
  background: white;
  opacity: 0.6;
  box-shadow: 0 0 5px 1px white;
}

/* line 181, ../sass/partials/_index.scss */
.stars-blue {
  background: #C6EEF8;
  box-shadow: 0 0 5px 1px #C6EEF8;
  opacity: 1;
}

@media all and (max-width: 650px) {
  /* line 192, ../sass/partials/_index.scss */
  #welcome-container p {
    text-align: center;
    font-size: 1em !important;
  }
  /* line 197, ../sass/partials/_index.scss */
  #welcome-container #welcome {
    font-size: 1.8em !important;
  }
  /* line 201, ../sass/partials/_index.scss */
  #welcome-container #animated-button {
    width: 60px;
    height: 60px;
    font-size: 0.6em;
  }

  /* line 208, ../sass/partials/_index.scss */
  .dots {
    display: none;
  }

  /* line 212, ../sass/partials/_index.scss */
  .page {
    width: 100%;
    height: 100%;
  }
}
@media all and (max-width: 300px) {
  /* line 222, ../sass/partials/_index.scss */
  #welcome-container p {
    text-align: center;
    font-size: 0.8em !important;
  }
  /* line 227, ../sass/partials/_index.scss */
  #welcome-container #welcome {
    font-size: 1.5em !important;
    text-align-last: center;
  }

  /* line 233, ../sass/partials/_index.scss */
  .dots {
    display: none;
  }

  /* line 237, ../sass/partials/_index.scss */
  .page {
    width: 100%;
    height: 100%;
  }
}
/* line 1, ../sass/partials/_pages.scss */
.page {
  width: 80%;
  height: calc(100% - 40px);
  position: absolute;
  left: 150%;
  top: 20px;
  text-align: left;
  z-index: 1 !important;
}

/* line 20, ../sass/partials/_pages.scss */
#about-me-page * {
  color: black;
}
/* line 24, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container {
  width: 100%;
  position: absolute;
  height: 600px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: visible;
}
/* line 34, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: white;
}
/* line 41, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .about-title {
  text-transform: uppercase;
  letter-spacing: 45px;
  padding: 20px 0;
  color: black;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
/* line 52, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder {
  height: 35px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/* line 57, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder * {
  cursor: pointer;
  text-align: center;
}
/* line 62, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder .left-button {
  font-weight: bold;
  padding: 5px;
  width: 50%;
  font-size: 1.2em;
  background: #6e798d;
}
/* line 70, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder .right-button {
  font-weight: bold;
  padding: 5px;
  width: 50%;
  background: #bcc1c6;
}
/* line 83, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body {
  position: absolute;
  top: 125px;
  margin-top: 20px;
}
/* line 89, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  height: 450px;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 102, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section .about-text-section {
  width: 60%;
  margin-left: 20px;
  padding: 30px 0 0 40px;
}
/* line 107, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section .about-text-section p {
  font-family: 'IBM Plex Serif', serif;
}
/* line 112, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section .about-image {
  width: 300px;
  height: 450px;
  background-image: url("../images/about-road-img.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
/* line 122, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section {
  perspective: 100px;
  backface-visibility: hidden;
  height: 450px;
  width: 100%;
  top: 0;
  position: absolute;
  background: white;
}
/* line 131, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section #hobbies-body {
  transform-style: preserve-3d;
  -moz-transform: rotateY(40deg) rotateX(40deg);
  -ms-transform: rotateY(40deg) rotateX(40deg);
  -webkit-transform: rotateY(40deg) rotateX(40deg);
  transform: rotateY(40deg) rotateX(40deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: red;
  height: 100px;
  width: 100px;
}
