/* line 45, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/partials/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/partials/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@-webkit-keyframes twirl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes twirl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes twirl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes twirl-backwards {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes twirl-backwards {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes twirl-backwards {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* line 16, ../sass/partials/_activeAnimations.scss */
#welcome-container {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: twirl;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: paused;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: twirl;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: paused;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: twirl;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: paused;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: twirl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-timing-function: ease-out;
}

/* line 21, ../sass/partials/_activeAnimations.scss */
.rotate {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: twirl;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: twirl;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: twirl;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: twirl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

/* line 25, ../sass/partials/_activeAnimations.scss */
.rotateB {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: twirl-backwards;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: twirl-backwards;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: twirl-backwards;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: twirl-backwards;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

@-webkit-keyframes starGlow-white {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  50% {
    box-shadow: 0 0 8px 0px white;
  }
  100% {
    box-shadow: 0 0 0px 0px white;
  }
}
@-moz-keyframes starGlow-white {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  50% {
    box-shadow: 0 0 8px 0px white;
  }
  100% {
    box-shadow: 0 0 0px 0px white;
  }
}
@keyframes starGlow-white {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  50% {
    box-shadow: 0 0 8px 0px white;
  }
  100% {
    box-shadow: 0 0 0px 0px white;
  }
}
@-webkit-keyframes starGlow-blue {
  0% {
    box-shadow: 0 0 0px 0px blue;
  }
  50% {
    box-shadow: 0 0 8px 0px blue;
  }
  100% {
    box-shadow: 0 0 0px 0px blue;
  }
}
@-moz-keyframes starGlow-blue {
  0% {
    box-shadow: 0 0 0px 0px blue;
  }
  50% {
    box-shadow: 0 0 8px 0px blue;
  }
  100% {
    box-shadow: 0 0 0px 0px blue;
  }
}
@keyframes starGlow-blue {
  0% {
    box-shadow: 0 0 0px 0px blue;
  }
  50% {
    box-shadow: 0 0 8px 0px blue;
  }
  100% {
    box-shadow: 0 0 0px 0px blue;
  }
}
/* line 55, ../sass/partials/_activeAnimations.scss */
.rotate0tom180 {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotate0tom180;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotate0tom180;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-name: rotate0tom180;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: rotate0tom180;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

/* line 60, ../sass/partials/_activeAnimations.scss */
.rotate0to180 {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotate0to180;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotate0to180;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-name: rotate0to180;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: rotate0to180;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

/* line 65, ../sass/partials/_activeAnimations.scss */
.rotate180to0 {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotate180to0;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotate180to0;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0s;
  -o-animation-duration: 0.5s;
  -o-animation-name: rotate180to0;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-name: rotate180to0;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

/* line 70, ../sass/partials/_activeAnimations.scss */
.rotatem180to0 {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotatem180to0;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotatem180to0;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -moz-animation-play-state: running;
  -moz-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-duration: 0.5s;
  -o-animation-name: rotatem180to0;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  -o-animation-play-state: running;
  -o-animation-timing-function: ease-out;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotatem180to0;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

@-webkit-keyframes rotate0tom180 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@-moz-keyframes rotate0tom180 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes rotate0tom180 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@-webkit-keyframes rotate0to180 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes rotate0to180 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes rotate0to180 {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes rotate180to0 {
  0% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-moz-keyframes rotate180to0 {
  0% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate180to0 {
  0% {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotatem180to0 {
  0% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-moz-keyframes rotatem180to0 {
  0% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotatem180to0 {
  0% {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/* line 1, ../sass/partials/_mixins.scss */
.loading-page, #main-page-container, #welcome-container, .page, #about-me-page #about-me-page-container .about-header .button-holder, #about-me-page #about-me-page-container .about-body #about-section, #about-me-page #about-me-page-container .about-body #hobbies-section, #about-me-page #about-me-page-container .about-body #hobbies-section .first-row, #about-me-page #about-me-page-container .about-body #hobbies-section .second-row, #about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item, #about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item .hobbie-image-holder, #hire-me-page .contact-body, #hire-me-page .form-container, #hire-me-page .form-item, #hire-me-page .right-img, #hire-me-page .footer-info, #education-page .knowledge-body, #education-page .knowledge-body .row, #education-page .knowledge-body .row .left-item .percentage-holder, #education-page .knowledge-body .row .right-item .percentage-holder, #education-page .knowledge-body .row .left-item, #education-page .knowledge-body .row .right-item, #experience-page .experience-body .experience-text {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 9, ../sass/partials/_mixins.scss */
#hire-me-page .contact-body * {
  font-family: 'IBM Plex Serif', serif;
}

/* line 2, ../sass/partials/_index.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'raleway', cursive;
}

/* line 13, ../sass/partials/_index.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 19, ../sass/partials/_index.scss */
.mobile-message {
  color: whitesmoke;
  display: none;
  font-size: 1em !important;
  padding: 20px;
}

/* line 26, ../sass/partials/_index.scss */
.loading-page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #171613;
  z-index: 4000;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 36, ../sass/partials/_index.scss */
.loading-page .loading {
  font-size: 2em;
  letter-spacing: 8px;
  color: whitesmoke;
}

/* line 43, ../sass/partials/_index.scss */
#main-page-container {
  background-color: #171613;
  width: 100%;
  height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 53, ../sass/partials/_index.scss */
#welcome-container {
  background: transparent;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 200px;
  color: whitesmoke;
  text-transform: capitalize;
  z-index: 100;
}
/* line 63, ../sass/partials/_index.scss */
#welcome-container p {
  font-size: 1.2em;
  color: whitesmoke;
}
/* line 68, ../sass/partials/_index.scss */
#welcome-container p#welcome {
  font-size: 2.8em;
  letter-spacing: 5px;
}

/* line 74, ../sass/partials/_index.scss */
#animated-button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #171613;
  box-shadow: 0 0 0px 1px white;
  border: 0;
  letter-spacing: 1.5px;
  margin-top: 20px;
  font-size: 0.8em;
  letter-spacing: 3px;
  z-index: 1000;
}
/* line 86, ../sass/partials/_index.scss */
#animated-button:hover {
  cursor: pointer;
  background: black;
}

/* line 92, ../sass/partials/_index.scss */
#welcome, #animated-button {
  color: whitesmoke;
}

/* line 96, ../sass/partials/_index.scss */
#animated-button:focus, #animated-button:active {
  outline: 0;
}

/*THE MAIN BUTTONS*/
/* line 102, ../sass/partials/_index.scss */
#menu-button-container {
  display: none;
  overflow: visible;
  position: absolute;
  z-index: 10000 !important;
}

/* line 109, ../sass/partials/_index.scss */
.menu-button {
  font-size: 0.7em !important;
  overflow: visible;
  width: 0;
  height: 0;
  border-radius: 100%;
  position: absolute;
  background: #171613;
  color: white;
  display: block;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid white;
  text-transform: uppercase;
  z-index: 1000 !important;
  text-align: center;
}

/* line 127, ../sass/partials/_index.scss */
.menu-button:focus, .menu-button:active {
  outline: 0;
}

/* line 131, ../sass/partials/_index.scss */
#menu {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid white;
  background-color: #171613;
  box-shadow: none;
  z-index: 1000 !important;
}

/* line 141, ../sass/partials/_index.scss */
#menu:hover {
  background-color: black;
}

/* line 145, ../sass/partials/_index.scss */
#education {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 152, ../sass/partials/_index.scss */
#hire-me {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 158, ../sass/partials/_index.scss */
#about-me {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 164, ../sass/partials/_index.scss */
#experience {
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 170, ../sass/partials/_index.scss */
.dots {
  width: 10px;
  height: 10px;
  box-shadow: 0 0 30px 4px darkgray;
  border-radius: 100%;
  background-color: white;
  left: 50%;
  top: 50%;
  position: absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}

/* line 184, ../sass/partials/_index.scss */
.active {
  color: white;
}

/* line 188, ../sass/partials/_index.scss */
.dim-page {
  width: 100%;
  height: 100%;
  background-color: inherit;
  opacity: 0.8;
}

/* line 195, ../sass/partials/_index.scss */
.stars-white {
  background: white;
  opacity: 0.6;
  box-shadow: 0 0 5px 1px white;
}

/* line 202, ../sass/partials/_index.scss */
.stars-blue {
  background: #C6EEF8;
  box-shadow: 0 0 5px 1px #C6EEF8;
  opacity: 1;
}

@media all and (max-width: 850px) {
  /* line 211, ../sass/partials/_index.scss */
  .mobile-message {
    display: block;
  }

  /* line 215, ../sass/partials/_index.scss */
  .loading {
    display: none;
  }

  /* line 219, ../sass/partials/_index.scss */
  #main-page-container {
    display: none !important;
  }
}
/* line 1, ../sass/partials/_pages.scss */
.page {
  width: 80%;
  height: calc(100% - 40px);
  position: absolute;
  left: 150%;
  top: 20px;
  text-align: left;
  z-index: 1 !important;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 20, ../sass/partials/_pages.scss */
#about-me-page * {
  color: black;
}
/* line 24, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container {
  width: 100%;
  position: absolute;
  height: 600px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 33, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header {
  position: absolute;
  top: 0;
  z-index: 1000;
}
/* line 39, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder {
  height: 35px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/* line 44, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder * {
  cursor: pointer;
  text-align: center;
}
/* line 49, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder .left-button {
  font-weight: bold;
  padding: 5px;
  width: 50%;
  font-size: 1.2em;
  background: #6e798d;
}
/* line 57, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-header .button-holder .right-button {
  font-weight: bold;
  padding: 5px;
  width: 50%;
  background: #bcc1c6;
}
/* line 70, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body {
  position: absolute;
  top: 125px;
  margin-top: 20px;
  perspective: 2000px;
  perspective-origin: top;
}
/* line 77, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section {
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  height: 450px;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 91, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section .about-text-section {
  overflow-y: auto;
  width: 100%;
  margin-left: 20px;
  padding: 30px 30px 0 40px;
}
/* line 96, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section .about-text-section p {
  font-family: 'Vollkorn', serif;
}
/* line 101, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #about-section .about-image {
  width: 300px;
  height: 450px;
  background-image: url("../images/about-road-img.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
/* line 111, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: white;
  border-radius: 3px;
  width: 100%;
  height: 450px;
  top: 0;
  position: absolute;
}
/* line 126, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .first-row {
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 133, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .second-row-item:first-child {
  margin-right: 200px;
}
/* line 137, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .second-row {
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 144, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item {
  padding: 15px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 151, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item .hobbie-image-holder {
  border-radius: 100%;
  border: 2px solid black;
  margin-bottom: 10px;
  width: 130px;
  height: 130px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 164, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item .fa-gamepad {
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
/* line 168, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item #guitar {
  background-image: url("../images/guitar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
/* line 175, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item #singing {
  background-image: url("../images/microphone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
/* line 182, ../sass/partials/_pages.scss */
#about-me-page #about-me-page-container .about-body #hobbies-section .hobbie-item p {
  text-align-last: center;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 203, ../sass/partials/_pages.scss */
.page-header {
  width: 100%;
  background: white;
  margin-bottom: 20px;
}

/* line 209, ../sass/partials/_pages.scss */
.page-title {
  text-transform: uppercase;
  letter-spacing: 45px;
  padding: 20px 0;
  color: black;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* line 222, ../sass/partials/_pages.scss */
#hire-me-page * {
  color: black;
}
/* line 227, ../sass/partials/_pages.scss */
#hire-me-page .contact-body {
  background: white;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
/* line 238, ../sass/partials/_pages.scss */
#hire-me-page .form-container {
  overflow-y: auto;
  position: relative;
  width: 100%;
  padding: 20px;
  padding-right: 50px !important;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 250, ../sass/partials/_pages.scss */
#hire-me-page h2 {
  font-size: 1.7em !important;
  text-transform: uppercase;
  font-family: "raleway", cursive !important;
}
/* line 256, ../sass/partials/_pages.scss */
#hire-me-page .form-item:not(last-child) {
  margin-bottom: 20px;
}
/* line 260, ../sass/partials/_pages.scss */
#hire-me-page .form-item {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
}
/* line 266, ../sass/partials/_pages.scss */
#hire-me-page .form-item button {
  padding: 10px;
  width: 50%;
  background: black;
  border: 0;
  border-radius: 2px;
  color: white;
  font-family: 'raleway', monospace;
  font-weight: bold;
  box-shadow: 0px 2px 1px 1px darkgray;
  margin-top: 20px;
}
/* line 278, ../sass/partials/_pages.scss */
#hire-me-page .form-item button:focus {
  outline: 0 !important;
  border: 0 !important;
}
/* line 284, ../sass/partials/_pages.scss */
#hire-me-page .form-item button:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* line 288, ../sass/partials/_pages.scss */
#hire-me-page .form-item button:active {
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: none;
}
/* line 295, ../sass/partials/_pages.scss */
#hire-me-page input, #hire-me-page textarea {
  padding: 5px 10px;
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid black;
  width: 100%;
}
/* line 302, ../sass/partials/_pages.scss */
#hire-me-page input:focus, #hire-me-page textarea:focus {
  border: 1px solid black !important;
  outline: 0 !important;
  box-shadow: 0 0 3px 0 black;
}
/* line 309, ../sass/partials/_pages.scss */
#hire-me-page textarea {
  resize: none;
}
/* line 314, ../sass/partials/_pages.scss */
#hire-me-page label {
  font-size: 1.1em;
  font-weight: bold;
  min-width: 170px;
  display: inline-block;
}
/* line 322, ../sass/partials/_pages.scss */
#hire-me-page .right-img {
  min-width: 210px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-image: url("../images/light.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/* line 331, ../sass/partials/_pages.scss */
#hire-me-page .right-img p {
  padding: 10px;
  color: white;
  font-size: 1.7em;
  font-weight: bold;
}
/* line 340, ../sass/partials/_pages.scss */
#hire-me-page .footer-info {
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 346, ../sass/partials/_pages.scss */
#hire-me-page .footer-info i {
  margin-right: 10px;
  font-family: FontAwesome !important;
  text-decoration: none;
  font-style: normal !important;
}
/* line 353, ../sass/partials/_pages.scss */
#hire-me-page .footer-info span {
  font-size: 1.1em;
  color: black;
  text-transform: lowercase;
  font-size: 0.9em;
}

/* line 363, ../sass/partials/_pages.scss */
.beige {
  color: #8b6d5e !important;
}

/* line 367, ../sass/partials/_pages.scss */
#errormsg {
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 10px;
  color: white;
  font-family: "raleway", cursive !important;
  letter-spacing: 2px;
}

/* line 379, ../sass/partials/_pages.scss */
.load-wrapp {
  left: 10px;
  top: 0;
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}

/* line 391, ../sass/partials/_pages.scss */
.ring-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 100%;
}

/* line 400, ../sass/partials/_pages.scss */
.ball-holder {
  position: absolute;
  width: 12px;
  height: 45px;
  left: 17px;
  top: 0px;
}

/* line 408, ../sass/partials/_pages.scss */
.load-5 .ball-holder {
  animation: loadingE 1.3s linear infinite;
}

/* line 410, ../sass/partials/_pages.scss */
.ball {
  position: absolute;
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: white;
}

@keyframes loadingE {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 429, ../sass/partials/_pages.scss */
#education-page .education-header {
  background: white;
}
/* line 433, ../sass/partials/_pages.scss */
#education-page .knowledge-body {
  padding: 20px;
  width: 100%;
  background: white;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 435, ../sass/partials/_pages.scss */
#education-page .knowledge-body * {
  font-weight: bold;
  color: black;
}
/* line 446, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row {
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 40px;
}
/* line 456, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .left-item .percentage-holder {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* line 464, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .right-item .percentage-holder {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* line 472, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row span {
  font-size: 1.2em;
  width: 150px;
}
/* line 477, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .left-item {
  margin-right: 2px;
  width: 50%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 484, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .left-item span {
  margin-right: 10px;
}
/* line 489, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .right-item {
  margin-left: 2px;
  width: 50%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 496, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .right-item span {
  margin-left: 20px;
}
/* line 502, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .percentage-holder {
  background: transparent;
  width: 100%;
  height: 35px;
}
/* line 508, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row .percentage {
  float: right;
  height: 100%;
}
/* line 516, ../sass/partials/_pages.scss */
#education-page .knowledge-body .row:last-child {
  margin-bottom: 0px;
}

/* line 529, ../sass/partials/_pages.scss */
#experience-page .experience-body {
  background: white;
  padding: 20px;
  overflow: auto;
  width: 100%;
}
/* line 537, ../sass/partials/_pages.scss */
#experience-page .experience-body * {
  color: black;
  font-family: 'Vollkorn', serif;
}
/* line 542, ../sass/partials/_pages.scss */
#experience-page .experience-body .experience-text {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
}
/* line 549, ../sass/partials/_pages.scss */
#experience-page .experience-body .kidzmondo {
  width: 80%;
}
/* line 553, ../sass/partials/_pages.scss */
#experience-page .experience-body .freelancing {
  width: 80%;
}
/* line 557, ../sass/partials/_pages.scss */
#experience-page .experience-body .reference {
  border: 1px solid black;
  padding: 3px 10px;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 5px;
}
/* line 566, ../sass/partials/_pages.scss */
#experience-page .experience-body .exp-title {
  font-size: 1.1em;
  margin: 10px 0;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 573, ../sass/partials/_pages.scss */
#experience-page .experience-body .extra {
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 10px;
}
/* line 578, ../sass/partials/_pages.scss */
#experience-page .experience-body .extra .quote {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
/* line 584, ../sass/partials/_pages.scss */
#experience-page .experience-body .extra .end {
  width: 90%;
  margin: 0 auto;
}
